@charset "UTF-8"; 

.top {
    display: flex;
    height: 40px;
    justify-content: center;
}

.topLeft {
    flex: 1;
}

.topRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.info{
    display: flex;
    height: 40px;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.topRight a{
    color : black;
    text-decoration: none;
    font-weight: 600;   
}

.logo{
    padding-top: 0px;
    text-align: right;
    font-size: 25px;
    margin-right: 20px;
}

.search{
    margin-top: 30px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 5px;


}